<launch>
    <arg name="use_urdf" default="true"/>
    <arg name="use_jaco_v1_fingers" default="false"/>
    <include file="$(find kinova_bringup)/launch/kinova_robot.launch">
	<arg name="use_urdf" value="$(arg use_urdf)"/>
	<arg name="use_jaco_v1_fingers" value="$(arg use_jaco_v1_fingers)"/>
    </include>
    <node name="arm_control_marmotte" pkg="arm_control_marmotte" type="arm_control_node.py" output="screen"/>
</launch>
